<div>
  <header>
    <h2 class="text-primary text-5xl my-12 font-bold text-center">Trabajos Realizados</h2>
  </header>

  @defer (on viewport) {
  @if (colecciones$ | async; as colecciones) {
  <main class="mt-4 grid grid-cols-4 gap-12 justify-items-center items-center">
    @for (coleccion of colecciones; track coleccion.id) {
    <img [ngSrc]="coleccion.imgUrl" [alt]="coleccion.alt" width="160" height="160"
      class="w-full h-full aspect-square object-cover rounded-2xl">
    } @empty {
    <p>No hay imágenes</p>
    }
  </main>
  }
  } @placeholder {
  <section class="mt-4 grid grid-cols-4 gap-12 justify-items-center items-center">
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    <div class="bg-skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
  </section>
  }

</div>