<div>
  <!-- <header>
    <h2 class="text-primary text-3xl md:text-5xl my-8 md:my-12 font-bold text-center">
      Trabajos Realizados
    </h2>
  </header> -->

  <!-- @if (colecciones) {
  <main
    class="mt-4 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-12 justify-items-center items-center">
    @for (coleccion of colecciones; track coleccion.id) {

    @defer (on viewport) {
    <img [ngSrc]="coleccion.imgUrl" [alt]="coleccion.alt" width="160" height="160"
      class="w-full h-full aspect-square object-cover rounded-2xl">
    } @placeholder {
    <div class="skeleton w-full h-full aspect-square object-cover rounded-2xl"></div>
    }

    } @empty {
    <p>No hay imágenes</p>
    }
  </main>
  } -->

  <br>
  <br><br><br><br><br><br><br><br><br><br>

  <!-- <main class="">

    <div
      class="pswp-gallery mt-4 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-12 justify-items-center items-center"
      id="gallery--getting-started">
      @for(coleccion of colecciones; track coleccion.id) {
      <a [href]=coleccion.imgUrl [attr.data-pswp-width]="coleccion.width" [attr.data-pswp-height]="coleccion.height"
        target="_blank">
        <img [src]="coleccion.imgUrl" width="160" height="160" class="rounded-2xl" />
      </a>
      }
    </div>

  </main> -->

  <br>
  <br><br><br><br><br><br><br><br><br><br>

  <!-- <main class="">

    <div
      class="pswp-gallery mt-4 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-12 justify-items-center items-center"
      id="gallery--getting-started">
      @for(coleccion of colecciones; track coleccion.id) {
      <a [href]=coleccion.imgUrl [attr.data-pswp-width]="coleccion.width" [attr.data-pswp-height]="coleccion.height"
        target="_blank">
        <img [src]="coleccion.imgUrl" width="160" height="160"
          class="w-full h-full aspect-square object-cover rounded-2xl" />
      </a>
      }
    </div>

  </main> -->

  <br>
  <br><br><br><br><br><br><br><br><br><br>

  @if (colecciones()) {
  <header>
    <h2 class="text-primary text-3xl md:text-5xl my-8 md:my-12 font-bold text-center">
      Trabajos Realizados
    </h2>
  </header>

  <app-masonry [colecciones]="colecciones()" />

  <div class="text-center mt-10">
    <a routerLink="/gallery">
      <button class="bg-primary text-white px-6 py-3 rounded-xl hover:bg-primary/80 transition uppercase">
        Ver más
      </button>
    </a>
  </div>
  }

</div>