<button (click)="scrollToTop()" aria-label="Volver arriba" [class]="
    'fixed bottom-4 right-4 sm:bottom-6 sm:right-6 bg-primary text-white w-10 h-10 sm:w-12 sm:h-12 shadow-lg z-50 transition-all duration-300 ease-in-out flex items-center justify-center ' +
    (showButton
      ? 'opacity-100 scale-100 pointer-events-auto'
      : 'opacity-0 scale-95 pointer-events-none')
  ">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 sm:w-6 sm:h-6" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="m5 12 7-7 7 7" />
    <path d="M12 19V5" />
  </svg>
</button>