<div class="flex gap-12 bg-white">
  <header class="flex flex-col gap-4">
    <img src="img/cuerpo.webp" alt="Esto es una imagen" class="min-w-64 max-w-64 aspect-[3/4] object-cover rounded-2xl">
    <footer class="uppercase text-center text-sm text-primary-black">
      Lázaro Ortega Izquierdo
    </footer>
  </header>
  <main class="flex flex-col gap-4 justify-center w-1/2">
    <h1 class="text-3xl text-primary font-bold">
      Cortador profesional de jamón en Alicante
    </h1>
    <h2 class="text-2xl text-secondary-white">
      +15 años de experiencia ofreciendo el arte del corte de jamón con pasión y precisión
    </h2>
    <button
      class="w-48 py-2 px-4 text-primary-white bg-secondary hover:bg-secondary-hover transition-colors duration-300 rounded-2xl">Contratar
      Servicios</button>
  </main>
</div>