<div class="mb-20">
  <header>
    <h2 class="text-primary text-balance text-center text-5xl my-12 font-bold">
      Precios transparentes, la mejor manera de respetar tu tiempo
    </h2>
  </header>
  <main id="servicios" class="flex flex-wrap gap-8 justify-center items-start">
    @defer (on viewport) {
    @for (servicio of $servicios(); track servicio.id) {
    <app-servicio [servicio]="servicio" />
    }
    } @placeholder {
    <!-- TODO: poner un skeleton de servicios -->
    <div>Cargando...</div>
    }
  </main>
  <footer class="max-w-96 flex flex-col gap-6 mx-auto mt-8 rounded-2xl bg-primary-black p-8">
    <div class="flex flex-col gap-2">
      <div class="text-2xl text-primary-white font-bold">
        Información relevante
      </div>
      <div class="text-base text-secondary-white text-pretty">
        Todos los planes contienen un precio aproximado; los precios y los tiempos pueden ajustarse en función de los
        detalles de cada cliente
      </div>
    </div>
    <div class="flex flex-col gap-2 text-base text-secondary-white">
      <div>
        Ser claro es la mejor manera que tengo de respetar el tiempo del cliente
      </div>
      <div>
        El precio es orientativo y se concretará una vez tengamos todos los detalles
      </div>
      <div>
        Los precios están sin IVA.
      </div>
      <div>
        En todos los servicios, ofrezco un servicio de *
      </div>
    </div>

  </footer>
</div>