<section>
  <header>
    <h2 class="text-primary text-3xl md:text-5xl my-8 md:my-12 font-bold text-center">
      Preguntas Frecuentes
    </h2>
  </header>

  <div class="max-w-4xl mx-auto px-4">
    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cuánto cobra un cortador de jamón profesional?</h3>
      <p class="text-gray-700">
        Puede variar según la experiencia y la ubicación, pero un cortador profesional suele cobrar entre 100
        y 300 euros por pieza.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cuánto cuesta el curso de cortador de jamón?</h3>
      <p class="text-gray-700">
        Los cursos profesionales suelen costar entre 300 y 800 euros, dependiendo del centro y la duración.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cuánto gana un cortador de jamón por hora?</h3>
      <p class="text-gray-700">
        Un cortador de jamón no cobra por hora, sino por pieza. El precio puede variar según el tipo de evento, el
        número de asistentes, la duración del servicio o la experiencia del cortador.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cuánto tarda un profesional en cortar un jamón?</h3>
      <p class="text-gray-700">
        Un cortador profesional puede tardar entre 2 y 3 horas en cortar un jamón completo de forma óptima.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cómo se llama la máquina de cortar jamón?</h3>
      <p class="text-gray-700">
        Se llama “cortadora de jamón” o “máquina cortadora de fiambres”.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Qué necesito para cortar jamón?</h3>
      <p class="text-gray-700">
        Necesitas un jamonero, cuchillos especiales para jamón, y por supuesto un buen jamón y práctica.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cómo se llama el cuchillo para cortar jamón?</h3>
      <p class="text-gray-700">
        Se llama “cuchillo jamonero” o “cuchillo de hoja larga y flexible”.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cómo se llama donde se pone el jamón para cortarlo?</h3>
      <p class="text-gray-700">
        Se llama “jamonero” o “soporte para jamón”.
      </p>
    </div>

    <div class="mb-6 border-b border-gray-300 pb-4">
      <h3 class="font-semibold text-lg text-primary mb-2">¿Cómo se les llama a los cortadores de jamón?</h3>
      <p class="text-gray-700">
        A quienes cortan jamón se les llama <strong>cortadores de jamón</strong>.
      </p>
      <p class="text-gray-700">
        Cuando se dedican a ello de forma profesional, se les conoce como <strong>cortadores de jamón
          profesionales</strong>.
      </p>
      <p class="text-gray-700">
        Y aquellos que cuentan con una larga trayectoria, gran destreza y reconocimiento en el oficio, reciben el título
        de
        <strong>maestros cortadores</strong>.
      </p>
    </div>

  </div>

  <div class="mt-10 mb-20 flex justify-center">
    <button
      class="bg-primary text-white px-6 py-3 rounded-xl hover:bg-primary/80 transition uppercase flex items-center gap-2"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" type="button">
      Volver arriba
      <span class="inline-flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-arrow-up-icon lucide-arrow-up">
          <path d="m5 12 7-7 7 7" />
          <path d="M12 19V5" />
        </svg>
      </span>
    </button>
  </div>

</section>